<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
        <p><%= currentDate %></p>
    </div>

   
    <div class="box">    
         
        <% newListItems.forEach(function(item){ %>

            <form action="/delete" method="post">
            <div class="item">
                <!-- onchanges submits the change in data checked and unchecked -->
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                <!--taping into name field of the items array -->
                <p><%=item.name%></p> 

            </div>
            </form>

            <%})%>

         <form action="/" class="item" method="post">
            <input type="text" name="newItem" placeholder="New Task" autocomplete="off" required>
            <button type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>
    
    </div>

    <%- include("footer") -%>

